{
  "SaveName": "黑色行动山景别墅",
  "WorldName": "黑色行动山景别墅",
  "GameModeIdx": 1,
  "GameVersion": 1012002,
  "IsHost": false,
  "HostID": 0,
  "GameType": 7,
  "LanGameStartServerTime": 0,
  "RoomName": "",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1666521026,
  "TotalPlayTime": 6225,
  "UpdateTime": 0,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "E:\\MCLDownload\\Game\\i9761465yiya@163.com\\MCGame\\黑色行动山景别墅",
  "GUID": "MCGame-79c1674f-a3d8-4127-aeff-365a14f1894a",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "76026855953531904"
    },
    {
      "ID": "4633909964741692010"
    },
    {
      "ID": "4649240675648978000"
    },
    {
      "ID": "4622916262574176534"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [
    {
      "ID": "4633909964741692010"
    }
  ],
  "RoleList": [
    {
      "ajc": false,
      "Name": "方块轴",
      "CreatedTimeStamp": 1666501113,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 8,
  "ServerID": 0,
  "tag_ids": null,
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}